/*
Color palette:
#D3ECA7
#A1B57D
#B33030
#19282F
*/
main {

}

.banner-container {
  position: relative;
  text-align: center;
}

.banner-img {
  max-width: 100%;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-header {
  padding: 0;
}

.team-img {
  width: 500px;
  border-radius: 90%;
}

.custom-logo {
  width: 120px;
}
